<div class="row">
  <div class="underline large-6 large-centered columns">
  </br></br></br><h1>Inventory Form</h1></br>
  </div>
</div>
<%= render 'form', inventory: @inventory %>

<%= link_to 'Back', inventories_path %>
