<h1>Editing Schedule</h1>

<%= form_with(model: @schedule, local: true) do |form| %>


  <%= form.hidden_field :shift_id, value: @schedule.shift%>

  <%= form.select :user_id, User.all, include_blank: true %>
  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
