

</br></br><div class="card small-12 columns medium-9 columns large-8 large-centered columns">
  <% Price.all.group_by{ |price| price.catagorie }.each do |catagorie, price| %>


    </br><h1 class="underline"><%= catagorie %></h1></br>

    <div class="row">
      <% price.group_by{ |price| price.sub_catagorie }.each do |sub_catagorie, prices| %>
      <% if sub_catagorie != nil %>
      <div class="row large-10 centered columns">
        </br><h3 class="underline"><%= sub_catagorie %></h3></br>
      </div>
      <% end %>
      <div class="row small-6 columns medium-3 columns large-12 columns">
        <% prices.each do |price| %>
        <div class="flavors float-left small-6 columns medium-3 columns large-2 columns">
          <%= price.size %>
          $<%= number_with_precision(price.price, precision: 2) %></br>
        </div>
        <% end %>
      </div>
      <% end %>

  <% end %></br></br></br>
</div>
