/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";

 .underline {
   text-decoration: underline $twisteeblue;
   color: $twisteeblue;
}
 * {
   font-family: 'Catamaran', sans-serif;
   font-weight: 800;
   padding-left: 10px;
 }

 h1 {
   font-family: 'Comfortaa', cursive;
   font-weight: 700;
   padding-left: 10px;
 }

 h2, h3 {
   font-family: 'Catamaran', sans-serif;
   font-weight: 700;
   padding-left: 10px;
 }

 body {
  background-color: twisteepink;
}

 ul.menu {
   list-style-type: none;
   background: $twisteeblue;
 }

 .menu-text {
   font-size: 40px;
   letter-spacing: 2px;
   background: none;
   color: $twisteepink !important;
 }
 .menu {
   font-size: 25px;
   letter-spacing: 2px;
   background: none;
   color: $twisteepink !important;
 }

 .top-bar {
   background: $twisteeblue;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
 }

 .top-bar-left {
   color: $twisteepink;
 }
 .top-bar-right {
   color: $twisteepink;
 }

 p {
   font-family: 'Catamaran', sans-serif;
   font-size: 25px;
 }
 td {
   font-family: 'Catamaran', sans-serif;
   font-size: 20px;
 }

 .profile-pic-large{
   max-width:100%;
   max-height:100%;
 }
 .profile-pic-medium{
   max-width:25%;
   max-height:25%;
 }
 .flavors{
   padding-top: 20px;
   font-size: 20px;
 }
 .schedule{
   text-align: center;
 }
 .cone{
   max-width: 50px;
 }
 .calendar-heading{
   font-size: 20px;
 }
 .photo{
  max-width: 100% ;
 }

 li{
   font-weight: bold;
 }
